.alert {
    height: 50px;
   width: 200px; 
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 20px ;
   border: 1px solid black;
   z-index: 5;
}
button {
    padding: 5px 8px;
}

.cancel {
    margin-right: 20px;
    border: none;
}

.confirm {
    background-color: red;
    border: none;
}